* {
  box-sizing: border-box;
}

// body * {
//   border: black 1px dotted;
// }
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  //width: 100vw;
  background-color: #fff1e6;
}

.header {
  width: 100%;
  position: relative;
}
.my-pokemon {
  position: absolute;
  right: 30px;
  top: 20px;
  border: none;
  background-color: inherit;
  letter-spacing: 0.2em;
  font-weight: 500;
  cursor: pointer;
  color: #1d120c;
  &:hover {
    text-decoration: underline;
  }
}

.main {
  height: 100vh;
  width: 100%;
}

.main__title {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin: 10px;
}

.main__logo {
  width: 400px;
  margin: 0;
}

.app-container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.pokemon-container {
  width: 100%;
}

.pokemon-list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  height: 570px;
}

.pokemon-card {
  list-style: none;
  margin: 30px 50px 20px 0;
  width: 330px;
  height: 150px;
  background: rgb(232, 231, 233);
  background: rgb(255, 247, 240);
  background: linear-gradient(
    0deg,
    rgba(255, 247, 240, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  cursor: default;
  &__img {
    max-width: 180px;
    max-height: 180px;
    position: absolute;
    right: -40px;
    top: -30px;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2));
  }
  &__name {
    color: #1d120c;
    font-size: 25px;
    font-weight: 500;
    display: block;
    margin: 5px 0;
  }
  &__types {
    list-style: none;
    padding: 0;
    display: flex;
  }
  &__type {
    font-size: 14px;
    border: 1px solid #e8d2c5;
    padding: 4px;
    border-radius: 4px;
    margin-right: 5px;
    color: #fff;
    background-color: #dcbaa7;
  }
}

.fa-heart {
  display: block;
  max-width: max-content;
  font-size: 23px;
  color: pink;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination__previous,
.pagination__next {
  border: none;
  color: #1d120c;
  font-size: 20px;
  font-weight: 600;
  width: 60px;
  height: 60px;
  margin: 20px 5px;
  border-radius: 50%;
  background: rgb(255, 247, 240);
  background: linear-gradient(
    0deg,
    rgba(255, 247, 240, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  margin-bottom: 40px;

  &:hover {
    background: linear-gradient(
      190deg,
      rgba(255, 247, 240, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.button--disabled {
  opacity: 0.5;
  &:hover {
    background: linear-gradient(
      0deg,
      rgba(255, 247, 240, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  cursor: default;
}
